<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:03 GMT -->
<head>
	{% load static %}
		<meta charset="utf-8">
		<title>Doccure</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="{% static 'restroapp/img/favicon.png'%}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'restroapp/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'restroapp/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'restroapp/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'restroapp/css/style.css'%}">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="doctor" class="navbar-brand logo">
							<img src="{% static 'restroapp/img/logo.png' %}" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="doctor" class="menu-logo">
								<img src="{% static 'restroapp/img/logo.png' %}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu active">
								<a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="active"><a href="doctor">Doctor Dashboard</a></li>
								<li><a href="doctor/appointments">Appointments</a></li>								
									<li><a href="doctor/profile">Profile Settings</a></li>
								</ul>
							</li>	
							
							<li class="login-link">
								<a href="login.html">Login / Signup</a>
							</li>
						</ul>	 
					</div>		 
					<ul class="nav header-navbar-rht">
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="media/{{doctor.photo}}" width="31" alt="Darren Elder">
								</span>
							</a>
							
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="media/{{doctor.photo}}" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>{{doctor.first_name}}</h6>
										<p class="text-muted mb-0">Doctor</p>
									</div>
								</div>
								<a class="dropdown-item" href="doctor">Dashboard</a>
								<a class="dropdown-item" href="doctor/profile">Profile Settings</a>
								<a class="dropdown-item" href="/logout">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Dashboard</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="media/{{doctor.photo}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>{{doctor.first_name}}</h3>
											
											<div class="patient-details">
												<h5 class="mb-0">{{doctor.profession}}</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li class="active">
												<a href="doctor-dashboard.html">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="/doctor/appointments">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											
											
											<li>
												<a href="/doctor/profile">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
										
											<li>
												<a href="pwdchange">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="/logout">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">

							<div class="row">
								<div class="col-md-12">
									<div class="card dash-card">
										<div class="card-body">
											<div class="row">
												<div class="col-md-12 col-lg-4">
													<div class="dash-widget dct-border-rht">
														<div class="circle-bar circle-bar1">
															<div class="circle-graph1" data-percent="75">
																<img src="{% static 'restroapp/img/icon-01.png' %}" class="img-fluid" alt="patient">
															</div>
														</div>
														<div class="dash-widget-info">
															<h6>Total Patient</h6>
															<h3>1500</h3>
															<p class="text-muted">Till Today</p>
														</div>
													</div>
												</div>
												
												<div class="col-md-12 col-lg-4">
													<div class="dash-widget dct-border-rht">
														<div class="circle-bar circle-bar2">
															<div class="circle-graph2" data-percent="65">
																<img src="{% static 'restroapp/img/icon-02.png' %}" class="img-fluid" alt="Patient">
															</div>
														</div>
														<div class="dash-widget-info">
															<h6>Today Patient</h6>
															<h3>160</h3>
															<p class="text-muted">06, Nov 2019</p>
														</div>
													</div>
												</div>
												
												<div class="col-md-12 col-lg-4">
													<div class="dash-widget">
														<div class="circle-bar circle-bar3">
															<div class="circle-graph3" data-percent="50">
																<img src="{% static 'restroapp/img/icon-03.png' %}" class="img-fluid" alt="Patient">
															</div>
														</div>
														<div class="dash-widget-info">
															<h6>Total Appoinments</h6>
															<h3>{{appointments | length}}</h3>
															<p class="text-muted">Till Today</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<h4 class="mb-4">Patient Appoinment</h4>
									<div class="appointment-tab">
									
										<!-- Appointment Tab -->
										<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded">
											<li class="nav-item">
												<a class="nav-link active" href="#upcoming-appointments" data-toggle="tab">Upcoming</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#today-appointments" data-toggle="tab">Today</a>
											</li> 
										</ul>
										<!-- /Appointment Tab -->
										
										<div class="tab-content">
										
											<!-- Upcoming Appointment Tab -->
											<div class="tab-pane show active" id="upcoming-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
																<thead>
																	<tr>
																		<th>Patient Name</th>
																		<th>Appt Date</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	{% for appointment in appointments %}
																	{% now "Y-m-d" as todays_date %}
                                                                    {% if todays_date < appointment.dateOfAppointment|date:"Y-m-d" %}
																	<tr>
																		<td>
																			<h2 class="table-avatar">
																				<a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="media/{{appointment.patientPhoto}}" alt="User Image"></a>
																				<a>{{appointment.patientName}}</a>
																			</h2>
																		</td>
																		<td>{{appointment.dateOfAppointment.date}}</td>
																		
																		<td class="text-right">
																			<div class="table-action">
																				
																			{% if appointment.status == 'UNREVIEWED'  %}
																				<a href="javascript:void(0);" class="btn btn-sm bg-success-light acceptClicked" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-check"></i> Accept
																				</a>
																				<a href="javascript:void(0);" class="btn btn-sm bg-danger-light rejectClicked" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-times"></i> Cancel
																				</a>
																			    {% elif appointment.status == 'ACCEPTED' %}
																				<a class="btn btn-sm bg-success-light" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-check"></i> Accepted
																				</a>
																				{% elif appointment.status == 'DECLINED' %}
																				<a class="btn btn-sm bg-danger-light" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-times"></i> REJECTED
																				</a>
																			
																				{% endif %}
																				
																			</div>
																		</td>
																	</tr>
																	{% endif %}
																	{% endfor %}
																</tbody>
															</table>		
														</div>
													</div>
												</div>
											</div>
											<!-- /Upcoming Appointment Tab -->
									   
											<!-- Today Appointment Tab -->
											<div class="tab-pane" id="today-appointments">
												<div class="card card-table mb-0">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-hover table-center mb-0">
																<thead>
																	<tr>
																		<th>Patient Name</th>
																		<th>Appt Date</th>
																		<th></th>
																	</tr>
																</thead>
																<tbody>
																	{% for appointment in appointments %}
																	{% now "Y-m-d" as todays_date %}
                                                                    {% if todays_date == appointment.dateOfAppointment|date:"Y-m-d" %}
																	<tr>
																		<td>
																			<h2 class="table-avatar">
																				<a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="media/{{appointment.patientPhoto}}" alt="User Image"></a>
																				<a>{{appointment.patientName}}</a>
																			</h2>
																		</td>
																		<td>{{appointment.dateOfAppointment.date}}</td>
																		
																		<td class="text-right">
																			<div class="table-action">
																				{% if appointment.status == 'UNREVIEWED'  %}
																				<a href="javascript:void(0);" class="btn btn-sm bg-success-light acceptClicked" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-check"></i> Accept
																				</a>
																				<a href="javascript:void(0);" class="btn btn-sm bg-danger-light rejectClicked" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-times"></i> Cancel
																				</a>
																			    {% elif appointment.status == 'ACCEPTED' %}
																				<a class="btn btn-sm bg-success-light" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-check"></i> Accepted
																				</a>
																				{% elif appointment.status == 'DECLINED' %}
																				<a class="btn btn-sm bg-danger-light" id='{{appointment.appointmentId}}'>
																					<i class="fas fa-times"></i> REJECTED
																				</a>
																			
																				{% endif %}
																				
																			</div>
																		</td>
																	</tr>
																	{% endif %}
																	{% endfor %}
																</tbody>
															</table>		
														</div>	
													</div>	
												</div>	
											</div>
											<!-- /Today Appointment Tab -->
											
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0">Made with ❤️ by <a target="_blank" href="https://selvasoft.in">Selva</a> & <a target="_blank" href="https://ojask.netlify.com">Ojas</a> in <a target="_blank" href="https://www.djangoproject.com/">Django</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'restroapp/js/jquery.min.js' %}">
		</script>

		<script>
		jQuery(".acceptClicked").click(function(){
			console.log("print")
			console.log($('.acceptClicked').attr('id'))
			var user_choice = window.confirm('You Cannot Change Your Choice Once Accepted!');


if(user_choice==true) {
	
	var id = $('.acceptClicked').attr('id')
		$.ajax({
      type: "POST",
      url: "/doctor",
      data: {
		ID: id,
		status: 'ACCEPTED',
		csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function () {
		location.reload(true);
        console.log("done")
      }
    });
	
	
	

} else {


return false;


}
         
         });
	jQuery(".rejectClicked").click(function(){
			console.log("reject")
			console.log($('.rejectClicked').attr('id'))
			var user_choice = window.confirm('You Cannot Change Your Choice Once Accepted!');


if(user_choice==true) {
	var id = $('.rejectClicked').attr('id')
			 	$.ajax({
      type: "POST",
      url: "/doctor",
      data: {
		ID: id,
		status: 'DECLINED',
		csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function () {
		location.reload(true);
        console.log("done")
      }
    });
	
	
	

} else {


return false;


}
         
         });

		 
		 </script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'restroapp/js/popper.min.js' %}"></script>
		<script src="{% static 'restroapp/js/bootstrap.min.js' %}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{% static 'restroapp/plugins/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
        <script src="{% static 'restroapp/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
		
		<!-- Circle Progress JS -->
		<script src="{% static 'restroapp/js/circle-progress.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'restroapp/js/script.js' %}"></script>
		
	</body>

<!-- doccure/doctor-dashboard.html  30 Nov 2019 04:12:09 GMT -->
</html>